Package: cdpw-ohif
Version: %VERSION%
Section: base
Priority: optional
Architecture: all
Depends: orthanc, orthanc-dicomweb
Maintainer: Matthew Jacob <lydianconcepts@gmail.com>
Description: Build and Packaging for OHIF Viewer
 This refers to Open Health Imaging Foundation's image viewer.
 See https://ohif.org for details on what it is.
 This just builds the Orthanc wrapper of the OHIF webviewer into a
 package suitable for installing on Ubuntu version 24.04.
